<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Plenty APP</title>
</head>
<body>
    <div class="container">
        <h1>PLENTY APP - MODULO ADMINISTRATIVO</h1>
        <h3>Sección: Carga de Reportes</h3>
        <div class="view">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="excel_file" accept=".xls,.xlsx">
                <input type="submit" value="Subir Excel">
            </form>
        </div>
    </div>
</body>
</html>